.list {
  &__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 12px;
    img {
      border-radius: 4px;
      width: 32px;
      margin-right: 6px;
    }
    &:hover {
      background-color: rgb(236, 235, 235);
      font-weight: bold;
    }
  }
}


.pagination {
  display: flex;
  justify-content: center;
}
